---
interface Props {
  propertyLocation: {
    address: string;
    neighborhood: string;
    city: string;
    country: string;
    mapsLink: string;
  };
  pointsOfInterest: string[];
}

const { propertyLocation, pointsOfInterest } = Astro.props;
---

<div>
  <h3>Ubicación</h3>
  <p>{propertyLocation.address}</p>
  <p>
    {propertyLocation.neighborhood}, {propertyLocation.city}, {
      propertyLocation.country
    }
  </p>

  <h4>Puntos de Interés Cercanos</h4>
  <div>
    {pointsOfInterest.map((point) => <p>{point}</p>)}
  </div>
</div>
